.section7 {
  padding: 30px;
  > h1 {
    padding: 30px;
    color: $txtCol;
    text-align: center;
    font-size: 2em;
  }
  > p {
    color: $para-col;
    text-align: center;
    max-width: 800px;
    margin: auto;
    font-size: 1.1em;
  }
  //   ...................lms row.......................
  .lmsRow {
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-direction: column;
    .lmsMessage {
      display: flex;
      flex-direction: column;
      justify-content: center;
      //   align-items: center;
      max-width: 500px;
      gap: 30px;

      h1 {
        // padding: 30px;
        color: $txtCol;
        text-align: center;
        font-size: 2em;
        text-align: start;
      }
      p {
        color: $para-col;
        text-align: center;
        // max-width: 800px;
        // margin: auto;
        font-size: 1.1em;
        text-align: start;
      }
    }
    img {
      max-width: 700px;
    }
  }
}
