.section6 {
  > h1 {
    padding: 30px;
    color: $txtCol;
    text-align: center;
    font-size: 2em;
  }
  > p {
    color: $para-col;
    text-align: center;
    max-width: 800px;
    margin: auto;
    font-size: 1.1em;
  }
  //   .............college............container...............
  .collegeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    margin: auto;
    padding: 30px;
    img {
      width: 120px;
      margin: 40px;
      object-fit: contain;
    }
  }
}
